.app {
  display: flex;
  align-items: flex-start;
}

.app aside {
  max-width: 400px;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(210, 210, 210);
}

.app aside form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
textarea,
button {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid rgb(38, 37, 37);
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  border-radius: 8px;
}

textarea {
  resize: none;
}

button {
  width: unset;
  margin-left: auto;
  background-color: rgb(38, 37, 37);
  color: whitesmoke;
}

button:focus {
  outline: 2px solid rgb(38, 37, 37);
  outline-offset: 2px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.movie_card {
  display: flex;
  gap: 8px;
  border: 1px solid rgb(38, 37, 37);
  border-radius: 8px;
  padding: 8px;
}

.movie_card section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.movie_card section p:first-child {
  font-weight: bold;
}

.movie_card section p:last-child {
  align-self: flex-start;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(38, 37, 37);
  border-radius: 50%;
}

.movie_poster_wrapper {
  position: relative;
  max-width: 100px;
}

.movie_poster_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie_list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
